@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    user-select: none;
    -webkit-user-select: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
}

/* Custom sleek scrollbar for modals */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}
